snipelabel/src/main/resources/META-INF/xsd/label.xsd

<?xml version="1.0" encoding="UTF-8"  standalone="yes"?>
<xsd:schema xmlns="http://www.jerrywu.org/schema/label"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.jerrywu.org/schema/label"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  <xsd:element name="service">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:string"/>
      <xsd:attribute name="name" type="xsd:string"/>
      <xsd:attribute name="protocol" type="xsd:string"/>
      <xsd:attribute name="interface" type="xsd:string"/>
      </xsd:complexType>
    </xsd:element>
</xsd:schema>